/* CSS STYLE */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: normal;
  src: url("../assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src: url("../assets/fonts/Raleway-Bold.ttf");
}

:root {
  --white: #fff;
  --opaque-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --opaque-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

.dark {
  color: var(--dark);
}

.light {
  color: var(--light);
}

body {
  margin: 0;

  overflow-x: hidden;

  font: 16px/1.6em "OpenSans", sans-serif;

  color: var(--dark);
}

header {
  background-color: var(--light);
}

main {
  width: 100%;
}

section {
  max-width: 1110px;
  width: 100%;

  display: block;
  position: relative;

  padding: 100px 0;
} 

.container {
  display: flex;
  justify-content: center;

  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  color: var(--text);
  font-weight: 400;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font: 72px/1.2em "Neucha", sans-serif;

  color: var(--main);
}

h2 {
  font: 60px/1.2em "Neucha", sans-serif;

  color: var(--main);
}

h3 {
  font: 34px/1.2em "Neucha", sans-serif;
  
  color: var(--main);
}

.background {
  position: relative;
}

.background::before {
  position: absolute;
  display: block;

  width: 100%;
  height: 100%;

  background: url("../images/background.png") no-repeat;
  background-size: cover;
  opacity: 0.1;

  pointer-events: none;
  content: '';
}

/* HEADER */

.header-title-text {
  height: 457px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.header-text {
  display: flex;
  gap: 30px;
}

.header-description {
  flex-basis: 50%;
  display: inline-flex;
  flex-direction: column;
}

.header-description p {
  margin-bottom: 16px;
}

.btn {
  background-color: var(--main);

  cursor: pointer;
}


.btn-details {
  width: 100px;

  display: inline-block;
  margin-top: 26px;
  padding: 12px 24px;

  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;

  color: var(--white);
}

/* MAIN */

/* What is cognitive distortion section */
.what-is {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-is-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px 0;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  border: none;
  z-index: 200;
}

/* Navigation section */
.navigation-bias {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: -190px;

  background-color: var(--main-dark);
}


.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;

  padding-top: 200px;
}

.cogn-header {
  flex-basis: 350px;

  font-size: 52px;

  background-color: inherit;
}

.card {
  flex-basis: 350px;
  box-sizing: border-box;

  padding: 24px;

  color: var(--main-dark);

  text-decoration: none;
  background-color: var(--light);
}

.card > h3 {
  margin-bottom: 16px;
}

.card:hover {
  color: var(--white);

  background-color: var(--main);
}

.card:hover > h3 {
  color: var(--white);
}

.num {
  padding-bottom: 40px;

  font: 64px/1em "Neucha", sans-serif;
}

/* BIASES */
.bias-info:nth-child(odd) {
  background-color: var(--light);
}

.bias-info:nth-child(odd) .manifest-header {
  color: var(--white);
  background-color: var(--brown);
}

.bias-info:nth-child(odd) .bias-name {
  color: var(--opaque-dark);
}

.bias-info:nth-child(even) {
  color: var(--white);
  background-color: var(--brown);
}

.bias-info:nth-child(even) .bias-header {
  flex-direction: row-reverse;
}

.bias-info:nth-child(even) .bias-name {
  color: var(--opaque-white);
}

.bias-info:nth-child(even) .manifest-header {
  color: var(--brown);
  background-color: var(--light);
}


.bias-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bias-header {
  display: flex;

  gap: 30px;
}

.bias-name {
  font: 24px/1.2em "Neucha", sans-serif;
}

.bias-image {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.bias-summary > h2 {
  margin-bottom: 30px;
}


.bias-summary > .bias-text {
  font: 34px/1.2em "Neucha", sans-serif;
}


.manifest-header {
  width: 100%;
  box-sizing: border-box;

  margin: 100px 0 20px;
  padding: 5px 10px;

  font: 14px/1.2em "OpenSans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.bias-description {
  display: flex;
  gap: 30px;
}

.bias-description .text-block {
  flex-basis: 50%;
}

.text-block p {
  margin-bottom: 18px;
}


/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 55px;

  background-color: var(--main-dark);
}

.form-block {
  width: 50%;

  box-sizing: border-box;

  padding: 40px 0 40px 15px;
}

.send-btn {
  display: block;

  height: 50px;
  width: 70px;

  border: none;
}

.send-btn::before {
  display: inline-block;
  width: 24px;
  height: 24px;

  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-size: cover;

  content: '';
}

.email-title {
  display: inline-block;

  margin-bottom: 11px;

  font-size: 18px;

  color: var(--white);
}

.email-form {
  display: flex;
}

.email-input {
  flex-grow: 2;

  height: 50px;

  padding: 0;

  border: none;
}

::-webkit-input-placeholder {
  padding: 15px;
  opacity: 0.2;
}

.agreement {
  font-size: 12px;

  color: var(--white);
}

.agreement a {
  color: var(--white);
}


.author-info {
  margin-top: 60px;

  font-size: 14px;

  text-align: center;
}

.author-info p {
  margin: 16px 0;
}

.author-info a {
  color: var(--blue);
}